<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bowling Calculator</title>
</head>
<body>

<div id="gameBoard">
    <h1>Score: {{ score }}</h1>
    <div id="scoreboard">
        <div class="frame" v-for="frame of frames">
            <div class="frame-count">{{ frame.index }}</div>
            <div class="rolls">
                <span class="first-roll">{{ frame.first }}</span>
                <span class="second-roll">{{ frame.second }}</span>
            </div>
            <div class="frame-score">
                <span class="frame-score">{{ frame.score }}</span>
            </div>
        </div>
    </div>
    <h3>{{ board }}</h3>
    <div class="test-pins">
        <button v-on:click="bowl(0)">0</button>
        <button v-on:click="bowl(`${pin}`)" v-for="pin of pins">{{ pin }}</button>
    </div>
</div>

<script src="https://unpkg.com/vue@3.0.5"></script>
<script src="app.js"></script>   
</body>
</html>
