<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Bowling Calculator</title>
</head>
<body>

<div id="gameBoard">
    <h1>Score: {{ score }}</h1>
    <div id="scoreboard">
        <div class="frame" v-for="frame of 10">
            <div class="frame-count">{{ frame }}</div>
            <div class="rolls">
                <span class="first-roll" v-if="rolledPins.length > 0">{{ rolledPins[0] }}</span>
                <span class="first-roll" v-else></span>
                <span class="second-roll" v-if="rolledPins.length > 0">{{ rolledPins[1] }}</span>
                <span class="second-roll" v-else></span>
            </div>
            <div class="frame-score">
                <span class="frame-score" v-if="rolledPins[0] + rolledPins[1]">{{ rolledPins[0] + rolledPins[1] }}</span>
                <span class="frame-score" v-else></span>
            </div>
        </div>
    </div>
    <div class="pins">
        <button v-on:click="getScore()">Calculate Score</button>
    </div>
    <h3>{{ board }}</h3>
    <div class="test-pins">
        <button v-on:click="bowlGutterGame()">Gutter</button>
        <button v-on:click="bowlAllOnes()">All 1</button>
    </div>
    <div class="test-pins">
        <button v-on:click="bowl(`${pin.number}`)" v-for="pin of standingPins">{{ pin.number }}</button>
    </div>
</div>

<script src="https://unpkg.com/vue@3.0.5"></script>
<script src="app.js"></script>   
</body>
</html>
